// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$grass-green: #4DBF85;
$light-green: #DDF7EA;
$dark-orange: #E96333;
$light-orange: #FF937F;
$yellow: #FDF8CA;
$gold: #F7E728;
$dark-blue: #E1ECEF;
$blue: #EEF4F5;
$light-blue: #F7FBFC;
$medium-green: #394D44;
$dark-green: #28372F;
$dark-gray: #363636;
$medium-gray: #707070;
$light-gray: #9c9c9c;
$gray: #c4c4c4;
$black: #000;
$white: #FFFFFF;
