<div class="blobs">
  <img src="https://res.cloudinary.com/rent-an-instrument/image/upload/v1640895280/left_orange_blob_ffqzsn.svg" alt="orange-blob" class="orange-blob" loading="eager">
</div>

<main class="hero">

  <div class="hero-text animated slideInLeft">
    <h1 class="hero-title">Watch List</h1>
    <p class="hero-paragraph">Keep track of your favorite movies , connect with friends and stay tuned on the coming up productions.</p>
    <%= link_to "Get Started", new_user_registration_path, class: "hero-sign-up"  %>
  </div>

  <div class="hero-image animated slideInRight">
    <img src="https://res.cloudinary.com/rent-an-instrument/image/upload/v1641321710/popcorn_fmb0pk.svg" alt="popcorn" class="hero-image-svg" loading="eager">
  </div>

</main>

<div class="blobs">
  <img src="https://res.cloudinary.com/rent-an-instrument/image/upload/v1640895280/light_yellow_blob_cy3wrj.svg" alt="yellow-blob" class="yellow-blob" loading="eager">
</div>


<div class="hero-rating">
  <img src="https://res.cloudinary.com/rent-an-instrument/image/upload/v1641321976/rating_stars_ojyqzy.svg" alt="rating-stars" class="hero-rating-svg" loading="eager">
  <p class="hero-rating-paragraph">Trusted by 6,428  users</p>
</div>
