<%= render 'shared/hero' %>
<div class="home">


<p class="home-paragraph">The #1 movie related social media in the market </p>

<div class="cards-data">

  <%# Card 1 %>

  <div class="home-card">
    <p class="home-card-number">12,382</p>
    <p class="home-card-state">Amazing Movies</p>
    <span class="home-card-image"><i class="fas fa-film"></i></span>
  </div>

  <%# Card 2 %>

  <div class="home-card">
    <p class="home-card-number">4,497</p>
    <p class="home-card-state">Active Users</p>
    <span class="home-card-image user-image"><i class="fas fa-user"></i></i></span>
  </div>

  <%# Card 3 %>

  <div class="home-card">
    <p class="home-card-number">1,359</p>
    <p class="home-card-state">5 Star Reviews</p>
    <span class="home-card-image comment"><i class="fas fa-comment"></i></span>
  </div>


</div>

<h2 class="secondary-title">How does it work?</h2>

<div class="blue-block"></div>

<div class="blobs">
  <img src="https://res.cloudinary.com/rent-an-instrument/image/upload/v1640895280/left_blue_blob_nh1ywj.svg" alt="light-blue-blob" class="light-blue-blob">
</div>

<div class="blobs">
  <img src="https://res.cloudinary.com/rent-an-instrument/image/upload/v1640895280/right_gold_blob_wvfixj.svg" alt="gold-blob" class="gold-blob">
</div>

<div class="cards-works">

  <%# Card 1 %>

  <div class="card-work">

    <div class="card-work-image">
      <span class="card-work-svg sign-in"><i class="fas fa-sign-in-alt"></i></span>
    </div>

    <div class="card-work-text">
      <h2 class="card-work-title">Sign Up</h2>
      <p class="card-work-subtitle">Sign up and enjoy all of our movies features.</p>
    </div>
  </div>

  <%# Card 2 %>

  <div class="card-work">

    <div class="card-work-image">
      <span class="card-work-svg"><i class="fas fa-tasks"></i></span>
    </div>

    <div class="card-work-text">
      <h2 class="card-work-title">Stay tuned</h2>
      <p class="card-work-subtitle">List your favorite movies, make new friends.</p>
    </div>
  </div>

  <%# Card 3 %>

  <div class="card-work">

    <div class="card-work-image">
      <span class="card-work-svg"><i class="fas fa-photo-video"></i></span>
    </div>

    <div class="card-work-text">
      <h2 class="card-work-title">News And Offers</h2>
      <p class="card-work-subtitle">Enjoy first-hand news and profitable offers.</p>
    </div>
  </div>

</div>

<hr>

<div class="home-testimonies">
  <div class="home-testimonies-text">
    <h2 class="home-testimonies-title">Don't believe us. Listen what our users are saying.</h2>
  </div>

  <div class="home-testimonies-buttons">
    <img src="https://res.cloudinary.com/rent-an-instrument/image/upload/v1640900738/dark_round_button_sjfwws.png" alt="nav-button" class="home-testimonies-button">
    <img src="https://res.cloudinary.com/rent-an-instrument/image/upload/v1640900738/light_round_button_gh6h9l.svg" alt="nav-button" class="home-testimonies-button">
  </div>
</div>


<div class="users-wrapper">
  <div class="users">

    <%# Card 1 %>

    <div class="user">
      <div class="user-image--corina">
      </div>
      <div class="user-text">
        <h2 class="user-name">Corina Grund</h2>
        <span class="user-quote-left"><i class="fas fa-quote-left"></i></span>
        <p class="user-paragraph">Funtastic!</p>
        <span class="user-quote-right"><i class="fas fa-quote-right"></i></span>
      </div>
    </div>

    <%# Card 2 %>

    <div class="user">
      <div class="user-image--jessica">
      </div>
      <div class="user-text">
        <h2 class="user-name">Jessica Yoko</h2>
        <span class="user-quote-left"><i class="fas fa-quote-left"></i></span>
        <p class="user-paragraph">Amazing</p>
        <span class="user-quote-right"><i class="fas fa-quote-right"></i></span>
      </div>
    </div>

    <%# Card 3 %>

    <div class="user">
      <div class="user-image--rodrigo">
      </div>
      <div class="user-text">
        <h2 class="user-name">Rodrigo Mello</h2>
        <span class="user-quote-left"><i class="fas fa-quote-left"></i></span>
        <p class="user-paragraph">Can't stop using it.</p>
        <span class="user-quote-right"><i class="fas fa-quote-right"></i></span>
      </div>
    </div>

    <%# Card 4 %>

    <div class="user">
      <div class="user-image--andre">
      </div>
      <div class="user-text">
        <h2 class="user-name">Dedé Menezes</h2>
        <span class="user-quote-left"><i class="fas fa-quote-left"></i></span>
        <p class="user-paragraph">Perfect!</p>
        <span class="user-quote-right"><i class="fas fa-quote-right"></i></span>
      </div>
    </div>

    <%# Card 5 %>

    <div class="user">
      <div class="user-image--leo">
      </div>
      <div class="user-text">
        <h2 class="user-name">Leo Helene</h2>
        <span class="user-quote-left"><i class="fas fa-quote-left"></i></span>
        <p class="user-paragraph">My new hobby</p>
        <span class="user-quote-right"><i class="fas fa-quote-right"></i></span>
      </div>
    </div>

    <%# Card 6 %>

    <div class="user">
      <div class="user-image--josephine">
      </div>
      <div class="user-text">
        <h2 class="user-name">Josephine Baker</h2>
        <span class="user-quote-left"><i class="fas fa-quote-left"></i></span>
        <p class="user-paragraph">Cinephiles, awake!</p>
        <span class="user-quote-right"><i class="fas fa-quote-right"></i></span>
      </div>
    </div>

  </div>
</div>

<div class="blobs">
  <img src="https://res.cloudinary.com/rent-an-instrument/image/upload/v1640895309/vertical_orange_blob_jnlmzn.svg" alt="orange-blob" class="orange-blob-bottom">
</div>

  <div class="green-block">
    <h2 class="green-block-title">Frequently Asked Questions</h2>

    <%# FAQ Section %>
    <div class="faqs">

      <div class="faq-card-wrapper">
        <div class="faq-card">
          <h2 class="faq-card-title">Is Watch List App free of charge?</h2>
          <span class="faq-card-arrow"><i class="fas fa-sort-down"></i></span>
        </div>
        <div class="faq-card-answer">
          <p class="faq-card-paragraph">Watch List is a totally free app. Enjoy ;)</p>
        </div>
      </div>

      <div class="faq-card-wrapper">
        <div class="faq-card">
          <h2 class="faq-card-title second">How many movies can I add?</h2>
          <span class="faq-card-arrow"><i class="fas fa-sort-down"></i></span>
        </div>
        <div class="faq-card-answer">
          <p class="faq-card-paragraph">The sky is the limit. As many as you need!</p>
        </div>
      </div>


    </div>

    <%# FAQ Section %>

    <%# Green blob %>
      <img src="https://res.cloudinary.com/rent-an-instrument/image/upload/v1640895280/dark_green_blob_m7y1w7.svg" alt="dark-green-blob" class="dark-green-blob">
    <%# Green Blob %>
  </div>

  <div class="call-action">
    <img src="https://res.cloudinary.com/rent-an-instrument/image/upload/v1640895309/vertical_gold_blob_wtrvjc.svg" alt="vertical-gold-blob" class="vertical-gold-blob">
    <p class="call-action-paragraph">Time To Take Action</p>
    <h2 class="call-action-title">Ready to become a movie expert?</h2>
    <div class="call-action-link">
      <%= link_to "Get Started", new_user_registration_path, class: "btn-orange" %>
    </div>
  </div>

</div>
