.home-card {
  width: 210px;
  height: 170px;
  border: 1px solid $gray;
  border-radius: 4px;
  margin: 8px 24px;
  background-color: $white;
  &-number {
    color: $grass-green;
    font-weight: 700;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 0;
  }
  &-state {
    font-weight: 700;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 0;
  }
  &-image {
    color: #F2F2F2;
    font-size: 5rem;
    padding: 0 0 4px 4px;
  }
  &-image.user-image {
    font-size: 4.8rem;
  }
}

@media (max-width: 768px) {
  .home-card {
    margin: 8px 12px;
  }
}

@media (max-width: 320px) {
  .home-card {
    height: 150px;
    &-image {
      font-size: 4rem;
    }
    &-image.user-image {
      font-size: 3.5rem;
    }
    &-image.comment {
      font-size: 3.8rem;
    }
  }
}
