.navbar {
  width: 100%;
  max-width: 1024px;
}

.blob {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.blob > img {
  position: absolute;
  z-index: -1;
}

.menu-image-blob {
  width: 40%;
}

.list-inline {
  list-style: none;
  padding: 0;
  text-align: right;
  &-item {
    font-size: 1.6rem;
    margin-right: 2rem;
    display: inline-block;
  }
  &-login {
    text-decoration: none;
    margin-left: 3rem;
    color: $medium-gray;
  }
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

@media (max-width: 1440px) {
  .navbar {
    max-width: 1440px;
  }
  .list-inline {
    &-item {
      font-size: 1.4rem;
    }
    &-login {
      margin-left: 3rem;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    max-width: 768px;
  }
  .list-inline {
    &-item {
      font-size: 1.3rem;
    }
    &-login {
      margin-left: 2rem;
    }
  }
}

@media (max-width: 425px) {
  .navbar {
    max-width: 425px;
  }
  .blob {
    display: none;
  }
  .menu.lg {
    display: none;
  }
}

@media (max-width: 375px) {
  .navbar {
    max-width: 375px;
  }
  .blob {
    display: none;
  }
  .menu.lg {
    display: none;
  }
}

@media (max-width: 320px) {
  .navbar {
    max-width: 320px;
  }
  .blob {
    display: none;
  }
  .menu.lg {
    display: none;
  }
}

// iPad Pro portrait and landscape

@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .navbar {
      min-width: 1024px;
      max-width: 1366px;
    }
}

// Galaxy tabs Portrait and Landscape

@media
  (min-device-width: 800px)
  and (max-device-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .navbar {
      min-width: 800px;
      max-width: 1280px;
    }
}
