.user {
  width: 280px;
  height: 320px;
  margin: 12px 12px;
  border-radius: 4px;
  border: 1px solid $gray;
  flex-shrink: 0;
  background-color: $white;
  &-name {
    font-size: 1rem;
    font-weight: 600;
    margin-left: 24px;
  }
  &-quote-left {
    font-size: 0.8rem;
    margin-left: 16px;
    color: $dark-blue;
  }
  &-quote-right {
    font-size: 0.8rem;
    margin-left: 250px;
    color: $dark-blue;
  }
  &-paragraph {
    margin: 0;
    text-align: center;
  }
}

.user-image {
  &--corina {
    @include user-card;
    background-image: url('https://res.cloudinary.com/rent-an-instrument/image/upload/v1641774347/portrait-2_vftdvx.webp');
  }
  &--jessica {
    @include user-card;
    background-position: initial;
    background-image: url('https://res.cloudinary.com/rent-an-instrument/image/upload/v1641774346/portrait-1_muiqts.webp');
  }
  &--rodrigo {
    @include user-card;
    background-position-y: 15%;
    background-image: url('https://res.cloudinary.com/rent-an-instrument/image/upload/v1641774347/portrait-5_lxkyvm.webp');
  }
  &--andre {
    @include user-card;
    background-position-y: 15%;
    background-image: url('https://res.cloudinary.com/rent-an-instrument/image/upload/v1641774552/portrait-6_x3kder.webp');
  }
  &--leo {
    @include user-card;
    background-image: url('https://res.cloudinary.com/rent-an-instrument/image/upload/v1641774347/portrait-3_tjz3ip.webp');
  }
  &--josephine {
    @include user-card;
    background-position-y: 20%;
    background-image: url('https://res.cloudinary.com/rent-an-instrument/image/upload/v1641774348/portrait-4_uzykbg.webp');
  }
}
