.card-work {
  width: 680px;
  height: 120px;
  background-color: $white;
  margin: 8px 0;
  box-shadow: 0 4px 16px $gray;
  border-radius: 4px;
  @include flex-between;
  visibility: hidden;
  &-svg {
    font-size: 48px;
    color: $light-orange;
  }
  &-svg.sign-in {
    color: $grass-green;
  }
  &-title {
    font-weight: 600;
    font-size: 21px;
  }
  &-image {
    margin-left: 48px;
  }
  &-text {
    margin-right: 180px;
  }
}

@media (max-width: 768px) {
  .card-work {
    width: 600px;
  }
}

@media (max-width: 425px) {
  .card-work {
    width: 520px;
    &-image {
      margin-left: 12px;
    }
    &-text {
      margin-right: 100px;
    }
  }
}

@media (max-width: 320px) {
  .card-work {
    width: 440px;
  }
  .card-work-image {
    margin-left: 24px;
  }
  .card-work-text {
    margin-right: 20px;
  }
  .gold-blob {
    left: 400px;
  }
}

// animation fade in left

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

// animation fade in left


// animation fade in right

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

// animation fade in right
