
// Graphical variables
@import "config/mixins";
@import "config/fonts";
@import "config/colors";
@import "config/normalize.css";


// External libraries

@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Global config

p, li, a, span {
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header;
}
